# ==================== BACKEND ====================
backend/coverage
backend/.env
backend/node_modules
backend/dist/**/*

# ==================== FRONTEND ====================
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/.env
frontend/*.local
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/coverage/

# ==================== LOGS ====================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==================== EDITOR ====================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==================== GENERAL ====================
.history/
*.vsix